@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary: #121117;
    --dark: #000000;
    --muted: #dcdcdc;
    --muted-light: #4D4C5C;
    --accent: #ff2500;
    --bg: #fff;
    --border: #DCDCE5;
    --dark-border: #0000001F;
    --gray: #F4F4F4;
    --gray-light: #f6f6f6;
    --light-blue: #D8F8F2;
    --light-pink: #F8D8D8;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}


#page:has(.search_mobile_page) #topBar {
    display: none !important;
}

#page:has(.search_mobile_page)> :nth-child(2) {
    display: none;
}

.wrapper-course:has(.search_mobile_page),
#page-wrapper #page:has(.search_mobile_page) {
    padding: 0px;
}


.search_mobile_page {
    background: #fff;
    padding: 18px 16px;
    font-family: "Poppins", sans-serif;
}

.editmode-switch-form {
    display: none !important;
}

/* custom margins */

.mt-24 {
    margin-top: 24px;
}

/* headings */

.heading_level_0 {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary);
}

.heading_level_1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
}

.heading_level_2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
}

.heading_level_3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.heading_level_4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}

.small_muted_text {
    font-size: 14px;
    font-weight: 300;
    color: var(--muted-light);
}

.extra_small_muted_text {
    font-weight: 600;
    font-size: 12px;
    color: var(--muted-light);
}

.small_text {
    font-weight: 600;
    font-size: 12px;
    color: var(--primary)
}

/* headings */

/* font weights */
.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-700 {
    font-weight: 700 !important;
}

/* font weights */

.gray_box {
    background: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 8px;
}

/* tabs */
.tabs_container {
    margin-bottom: 100px;
}

.tabs_container .nav-tabs {
    background: var(--gray-light);
    border-radius: 8px;
}

.tabs_container .nav-tabs .nav-link.active {
    background-color: var(--bg);
    border: 2px solid var(--border);
}

.tabs_container .nav-tabs .nav-link {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark);
    border: none;
    border-radius: 8px;
    padding-block: 0px;
    padding-inline: 16px;
}

.tabs_container .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.show .nav-link:hover {
    color: var(--dark);
}

/* tabs */

/* filters */
.filter {
    border: 1px solid var(--border);
    border-radius: 8px;
    background: var(--bg);
    padding: 12px 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark);
}

.filters_scroll {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    /* Firefox */
}

.filters_scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.filters_box {
    flex-wrap: nowrap;
}

.filter {
    flex: 0 0 auto;
}

/* filters */

.content_box {
    border-block: 1px solid var(--dark-border);
    padding: 12px 16px;
    margin-left: -16px;
    width: calc(100% + 32px);
    position: relative;
}

.border_box {
    border: 1px solid var(--border);
    background: #fff;
    border-radius: 4px;
    padding: 12px 10px;
}

.avatar_box {
    height: 80px;
    width: 80px;
    min-width: 80px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.switch_btn_box {
    position: absolute;
    top: 87px;
    left: 7px;
}

.switch_tutor_btn {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--border);
    color: var(--dark);
    opacity: 0.7;
    background: var(--bg);
}

.switch_tutor_btn:hover {
    background: var(--gray);
}

.switch_tutor_btn.active {
    border: 1px solid var(--dark);
    font-weight: 700;
    opacity: 1;
    text-decoration: underline;
}

.group_tutor.active {
    opacity: 1;
}

.group_tutor {
    opacity: 0.7;
}


.tutor_tag {
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary);
}

.tag_blue {
    background: var(--light-blue);
}

.tag_pink {
    background: var(--light-pink);
}

.like_tutor {
    position: absolute;
    top: 9px;
    right: 14px;
}

.hide_lines {
    display: -webkit-box;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hide_lines.three_level_box {
    -webkit-line-clamp: 3;
}

.hide_lines.two_level_box {
    -webkit-line-clamp: 2;
}


.teacher_status {
    border-radius: 2px;
    border: 1px solid var(--bg);
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.teacher_status.online {
    background: #09A64D;
}

.teacher_status.away {
    background: #B8B8B8;
}

.teacher_status.meeting {
    background: var(--accent)
}

/* footer navigation */
.footer_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    box-shadow: 0px -9px 21.56px 0px #00000008, 0px -86px 52.5px 0px #00000005, 0px -156px 62.81px 0px #00000000, 0px -200px 68.44px 0px #00000000;

    border: 0.94px solid #0000001F;
    z-index: 999;
}

.bf-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.bf-title {
    font-weight: 500;
    font-size: 12px;
    color: var(--dark);
}

.bf-title.active {
    color: var(--accent) !important;
}

.bf-item .bf-title:not(.active),
.bf-item .bf-icon img:not(.active) {
    opacity: 0.8;
}


/* pagination */
.pagination a.first {
    margin-right: 10px;
}

.pagination .disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.pagination a,
.pagination span {
    width: 32px;
    height: 32px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.pagination .active {
    background: var(--accent);
    color: var(--bg);
    cursor: default;
}

.pagination a:not(a.first):not(a.last) {
    border: 1px solid var(--border);
}

.pagination a.last {
    margin-left: 10px;
}

/* pagination */

/* footer navigation */

/* sort filters */
.modal-dialog.sort-dialog {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    transform: translateY(100%) !important;
    transition: transform 0.2s ease-out !important;
}

.modal.show .modal-dialog.sort-dialog {
    transform: translateY(0) !important;
}

.sortModal {
    border-radius: 20px;
}

.sortModal li {
    list-style: none;
    padding-block: 13px;
    border-bottom: 1px solid #0000001F;
}

.sortModal-content {
    height: 350px;
    overflow: auto;
}

/* sort filters */

/* All filters */
#page-wrapper {
    overflow: hidden;
}

.modal-dialog.filterModal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    width: 100%;
    margin-top: 0;
    background: var(--bg);
}


.modal-dialog.filterModal .back {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background: var(--bg);
    border: 1px solid #EDEDED;
    position: absolute;
    top: 20px;
    left: 16px;
}
.modal-content.filterModal-content {
    border: none;
    border-radius: 0px;
}

.modal-dialog.filterModal .filterModal-header {
    box-shadow:
        0px 9.38px 21.56px 0px #00000008,
        0px 88.13px 52.5px 0px #00000005,
        0px 156.56px 62.81px 0px #00000000,
        0px 244.69px 68.44px 0px #00000000;
    border-bottom: 1px solid #0000001F;
    z-index: 1;
    position: sticky;
    top: 0;
    background: var(--bg);
}

.modal-dialog.filterModal .slider_box {
    border-bottom: 1px solid #0000001F;
}

.modal-dialog.filterModal .search_field {
    border-radius: 8px;
    border: 1px solid #0000001F;
    box-shadow: none;
}
.modal-dialog.filterModal .search_box {
    position: relative;
}

.modal-dialog.filterModal .search_icon {
    position: absolute;
    top: 12px;
    left: 14px;
}

.modal-dialog.filterModal ul.flags li {
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 8px;
}

.modal-dialog.filterModal ul.nopad li{
    padding-inline: 0;
}

.modal-dialog.filterModal ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary);
}

.modal-dialog.filterModal ul li .filtercheckbox.active {
    background: red;
}
.modal-dialog.filterModal ul li .filtercheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background: var(--bg);
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 4px;
}

.modal-dialog.filterModal ul li .filtercheckbox  svg {
    min-width: 20px;
}
/* range part of filter */

.range_track {
    position: relative;
    height: 4px;
    border-radius: 9999px;
}
.range_fill {
    position: absolute;
    height: 4px;
    border-radius: 9999px;
    background: var(--dark);
    left: 0;
    right: 0;
    transform: translateZ(0);
}
.range_thumb {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background: #fff;
    border: 2px solid var(--dark);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    cursor: grab;
    touch-action: none;
}

.range-label {
    font-size: 22px;
    font-weight: 500;
    color: var(--primary)
}
/* range part of filter */
/* All filters */